﻿
<br />
<div class="container row p-0 m-0 ">
    <div class="col-md-6 col-lg-6 col-6">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3 offset-3">
        <a asp-action="Upsert" asp-controller="Books" class="btn btn-info form-control text-white">
            Add New Book
        </a>
    </div>
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td> </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/booklist.js?v=1"></script>
}