﻿@model Booklist_MVC.Models.Book

<br />
<h2 class="text-info">@(Model.Id!=0 ? "Edit" : "Create") Book</h2>
<br />
<div class="container border p-3 ">
    <form method="post" asp-action="Upsert">
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="Id" />
        }
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="Name" class="form-control " />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Author"></label>
            </div>
            <div class="col-6">
                <input asp-for="Author" class="form-control " />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="ISBN" class="form-control " />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6 col-lg-6 col-12 offset-md-3 offset-lg-3 pb-2">
                <button type="submit" class="btn btn-outline-primary form-control">
                    @(Model.Id!=0 ? "Update" : "Create") Book
                </button>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <a asp-action="Index" class="btn btn-danger form-control text-white ">Back to list</a>
            </div>

        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}