﻿@{
    ViewData["Title"] = "Home Page";
}
@model ErrorViewModel

@if (!(Model.Token is null))
{
    <div class="row d-flex container justify-content-center">
        <div class="align-self-center">
            <h1 class="display-4">Welcome to the BookList Page!</h1>
        </div>
    </div>
}
else
{
    <h1>@Model.ApiResponse</h1>
}
